@model CapaNegocio.Entidades.Venta

@{
    ViewData["title"] = "Registrar Venta";
}

<h1>Registrar Venta</h1>

<h2>Venta</h2>
<form asp-action="RegistrarVenta" asp-controller="Ventas" method="POST">
    <div class="form-group">
        <label asp-for="Cliente">Cliente:</label>
        <input asp-for="Cliente" type="text" class="form-control" placeholder="Ingrese nombre del cliente"/>
        <span asp-validation-for="Cliente" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CantidadVendida">Cantidad Vendida:</label>
        <input asp-for="CantidadVendida" type="number" class="form-control" placeholder="0"/>
        <span asp-validation-for="CantidadVendida" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PrecioUnitario">Precio Unitario:</label>
        $ <input asp-for="PrecioUnitario" type="number" class="form-control" placeholder="0"/>
        <span asp-validation-for="PrecioUnitario" class="text-danger"></span>
    </div>
    <button class="btn btn-success">Registrar Venta</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}