@{
    ViewData["Title"] = "Bienvenidxs";
}

<h1>Bienvenidxs al sitio de evaluación Web 3</h1>

<hr/>

<div class="mt-3">
    <ul>
        <li>
            <a asp-controller="Ventas" asp-action="RegistrarVenta">Registrar Venta</a>
        </li>
        <li>
            <a asp-controller="Ventas" asp-action="Resultados">Ver Resultados</a>
        </li>
    </ul>
</div>
